.full-width {
  width: 100%;
}

.flex-container {
  display: flex;
}

.flexible-x1 {
  flex: 1 1 auto;
}

.flexible-x2 {
  flex: 2 2 auto;
}

.inflexible {
  flex: none;
}

.horizontal-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.centered-text {
  text-align: center;
}
