.selectable-image {
  height: 150px;
  width: 150px;
  margin: 10px;
}

.standard-background {
  background-color: #2C3E50;
}

.selectable-background:hover {
  background-color: #34495E;
}

.fade
{
  opacity: 0.75;
}

.fade:hover
{
  opacity: 1;
}

.grow:hover
{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.circular
{
   border-radius:50%;
}
